:root {
  --off-white: #c5eedb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 1px solid black;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

header > p {
  height: 3rem;
  background-color: #eed202;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

main {
  min-height: 40rem;
  background-color: var(--off-white);
}

footer {
  height: 2rem;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cecece;
  background-color: var(--off-white);
}
